<a href="https://colab.research.google.com/github/AmanPhadke/DataScience_Journey/blob/main/Path1/Week7_Python/Projects/Vision_Based_Video_Scene_Intelligence_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
!pip install ultralytics opencv-python

Requirement already satisfied: ultralytics in /usr/local/lib/python3.12/dist-packages (8.4.14)
Requirement already satisfied: opencv-python in /usr/local/lib/python3.12/dist-packages (4.13.0.92)
Requirement already satisfied: numpy>=1.23.0 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (2.0.2)
Requirement already satisfied: matplotlib>=3.3.0 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (3.10.0)
Requirement already satisfied: pillow>=7.1.2 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (11.3.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (6.0.3)
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (2.32.4)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (1.16.3)
Requirement already satisfied: torch>=1.8.0 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (2.9.0+cpu)
Requirement already satisfied: torchvision>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (0.24.0+cpu)
Requirement already satisfied: psutil>=5.8.0 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (5.9.5)
Requirement already satisfied: polars>=0.20.0 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (1.31.0)
Requirement already satisfied: ultralytics-thop>=2.0.18 in /usr/local/lib/python3.12/dist-packages (from ultralytics) (2.0.18)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.3.0->ultralytics) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.3.0->ultralytics) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.3.0->ultralytics) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.3.0->ultralytics) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.3.0->ultralytics) (26.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.3.0->ultralytics) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.3.0->ultralytics) (2.9.0.post0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.23.0->ultralytics) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.23.0->ultralytics) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.23.0->ultralytics) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.23.0->ultralytics) (2026.1.4)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from torch>=1.8.0->ultralytics) (3.21.2)
Requirement already satisfied: typing-extensions>=4.10.0 in /usr/local/lib/python3.12/dist-packages (from torch>=1.8.0->ultralytics) (4.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from torch>=1.8.0->ultralytics) (75.2.0)
Requirement already satisfied: sympy>=1.13.3 in /usr/local/lib/python3.12/dist-packages (from torch>=1.8.0->ultralytics) (1.14.0)
Requirement already satisfied: networkx>=2.5.1 in /usr/local/lib/python3.12/dist-packages (from torch>=1.8.0->ultralytics) (3.6.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from torch>=1.8.0->ultralytics) (3.1.6)
Requirement already satisfied: fsspec>=0.8.5 in /usr/local/lib/python3.12/dist-packages (from torch>=1.8.0->ultralytics) (2025.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib>=3.3.0->ultralytics) (1.17.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from sympy>=1.13.3->torch>=1.8.0->ultralytics) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->torch>=1.8.0->ultralytics) (3.0.3)

In [42]:
from ultralytics import YOLO

In [43]:
from google.colab import files
uploaded = files.upload()

In [44]:
import pandas as pd
import numpy as np
import plotly.express as px
import cv2

In [45]:
video = '/content/Video_5.mp4'

In [46]:
import cv2

cap = cv2.VideoCapture(video)

fps = cap.get(cv2.CAP_PROP_FPS)
frame_interval = int(fps * 0.5)  # every 0.5 sec

frame_id = 0
saved_frames = []

while True:
    ret, frame = cap.read()
    if not ret:
        break

    if frame_id % frame_interval == 0:
        saved_frames.append((frame_id, frame))

    frame_id += 1

cap.release()

print("Total sampled frames:", len(saved_frames))

Total sampled frames: 17

In [79]:
model = YOLO('yolov8n.pt')
classes = set()

data = []

for frame_id, frame in saved_frames:
  results = model.predict(frame, verbose = False)[0]
  boxes = results.boxes



  if boxes is None:
    continue

  for i in range(len(boxes)):
    confidence = float(boxes.conf[i])
    if confidence > 0.5:
      class_id = int(boxes.cls[i])
      class_name = model.names[class_id]

      classes.add(class_name)

      x1, y1, x2, y2 = boxes.xyxy[i].tolist()

      width = x2 - x1
      height = y2 - y1
      area = height * width

      x_centre = (x1+x2)/2
      y_centre = (y2 + y1)/2

      data.append([
          frame_id,
          class_name,
          confidence,
          area,
          x_centre,
          y_centre
      ])

df = pd.DataFrame(data, columns = [
    'frame_id',
    'class_name',
    'confidence',
    'area',
    'x_centre',
    'y_centre'
])

In [74]:
df.head()

   frame_id class_name  confidence           area     x_centre     y_centre
0         0     person    0.775550  121845.217514  2157.968262  1690.851135
1         0     person    0.675687   44047.975671  1636.503052  1692.974487
2         0     person    0.590629   48688.518246  1743.740845  1688.188660
3         0     person    0.587145   28196.254642  1950.718872  1648.643555
4         0     person    0.571518   53119.935479  1507.830261  1684.701050

In [69]:
#How crouded is each frame
df['frame_id'].value_counts()

frame_id
174    11
232    10
29      9
58      9
464     8
145     8
116     8
203     8
261     8
406     8
435     8
377     8
87      7
348     7
290     7
319     6
0       5
Name: count, dtype: int64

In [78]:
#Number of objects per class
df.groupby('frame_id')['class_name'].value_counts()

frame_id  class_name
0         person        2
29        person        2
58        person        3
87        person        4
116       person        5
145       person        6
174       person        5
203       person        5
232       person        6
261       person        7
290       person        3
319       person        5
348       person        2
377       person        3
406       person        4
435       person        6
464       person        5
Name: count, dtype: int64

In [80]:
#Creating a feature matrix
feature_matrix = df.pivot_table(
    index = 'frame_id',
    columns = 'class_name',
    aggfunc = 'size',
    fill_value = 0
)

In [81]:
feature_matrix

class_name  person  suitcase  traffic light
frame_id
0                5         0              0
29               4         0              0
58               5         0              0
87               5         0              0
116              7         0              0
145              6         0              0
174              6         0              1
203              6         0              0
232              7         0              0
261              7         0              0
290              6         0              0
319              6         0              0
348              5         0              0
377              4         0              0
406              5         0              0
435              6         0              0
464              6         1              0

In [87]:
feature_matrix.sum(axis=1)

frame_id
0      5
29     4
58     5
87     5
116    7
145    6
174    7
203    6
232    7
261    7
290    6
319    6
348    5
377    4
406    5
435    6
464    7
dtype: int64

In [89]:
area_per_frame = df.groupby('frame_id')['area'].sum()
area_per_frame

frame_id
0      2.958979e+05
29     2.666104e+05
58     3.672165e+05
87     4.545351e+05
116    6.725410e+05
145    7.238667e+05
174    9.517519e+05
203    1.248376e+06
232    1.413403e+06
261    1.151426e+06
290    7.206420e+05
319    6.578993e+05
348    7.205825e+05
377    9.287772e+05
406    1.170951e+06
435    1.423702e+06
464    1.537595e+06
Name: area, dtype: float64