<a href="https://colab.research.google.com/github/AmanPhadke/DataScience_Journey/blob/main/Phase1/Week1_NumPy/100_Numpy_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 100 numpy exercises

This is a collection of exercises that have been collected in the numpy mailing list, on stack overflow
and in the numpy documentation. The goal of this collection is to offer a quick reference for both old
and new users but also to provide a set of exercises for those who teach.


If you find an error or think you've a better way to solve some of them, feel
free to open an issue at <https://github.com/rougier/numpy-100>.

File automatically generated. See the documentation to update questions/answers/hints programmatically.

Run the `initialise.py` module, then for each question you can query the
answer or an hint with `hint(n)` or `answer(n)` for `n` question number.

In [58]:
!pip install -r requirements.txt
!pip install generators

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from -r requirements.txt (line 1)) (2.0.2)
Requirement already satisfied: mdutils in /usr/local/lib/python3.12/dist-packages (from -r requirements.txt (line 2)) (1.8.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.12/dist-packages (from -r requirements.txt (line 3)) (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.12/dist-packages (from nbformat->-r requirements.txt (line 3)) (2.21.2)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.12/dist-packages (from nbformat->-r requirements.txt (line 3)) (4.25.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /usr/local/lib/python3.12/dist-packages (from nbformat->-r requirements.txt (line 3)) (5.9.1)
Requirement already satisfied: traitlets>=5.1 in /usr/local/lib/python3.12/dist-packages (from nbformat->-r requirements.txt (line 3)) (5.7.1)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=2.6->nbformat->-r requirements.txt (line 3)) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=2.6->nbformat->-r requirements.txt (line 3)) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=2.6->nbformat->-r requirements.txt (line 3)) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=2.6->nbformat->-r requirements.txt (line 3)) (0.28.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.12/dist-packages (from jupyter-core!=5.0.*,>=4.12->nbformat->-r requirements.txt (line 3)) (4.5.0)
Requirement already satisfied: typing-extensions>=4.4.0 in /usr/local/lib/python3.12/dist-packages (from referencing>=0.28.4->jsonschema>=2.6->nbformat->-r requirements.txt (line 3)) (4.15.0)
Requirement already satisfied: generators in /usr/local/lib/python3.12/dist-packages (2020.4.27)
Requirement already satisfied: strict-functions in /usr/local/lib/python3.12/dist-packages (from generators) (2020.2.4)

In [59]:
%run initialise.py

#### 1. Import the numpy package under the name `np` (★☆☆)

In [60]:
import numpy as np
import generators as gen

#### 2. Print the numpy version and the configuration (★☆☆)

In [61]:
np.__version__

'2.0.2'

#### 3. Create a null vector of size 10 (★☆☆)

In [62]:
a = np.zeros(10, dtype = 'int32')
a

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

#### 4. How to find the memory size of any array (★☆☆)

In [63]:
a.nbytes

40

#### 5. How to get the documentation of the numpy add function from the command line? (★☆☆)

In [64]:
help(np.add)

Help on ufunc:

add = <ufunc 'add'>
    add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature])

    Add arguments element-wise.

    Parameters
    ----------
    x1, x2 : array_like
        The arrays to be added.
        If ``x1.shape != x2.shape``, they must be broadcastable to a common
        shape (which becomes the shape of the output).
    out : ndarray, None, or tuple of ndarray and None, optional
        A location into which the result is stored. If provided, it must have
        a shape that the inputs broadcast to. If not provided or None,
        a freshly-allocated array is returned. A tuple (possible only as a
        keyword argument) must have length equal to the number of outputs.
    where : array_like, optional
        This condition is broadcast over the input. At locations where the
        condition is True, the `out` array will be set to the ufunc result.
        Elsewhere, the `out` array will retain its original value.
        Note that if an uninitialized `out` array is created via the default
        ``out=None``, locations within it where the condition is False will
        remain uninitialized.
    **kwargs
        For other keyword-only arguments, see the
        :ref:`ufunc docs <ufuncs.kwargs>`.

    Returns
    -------
    add : ndarray or scalar
        The sum of `x1` and `x2`, element-wise.
        This is a scalar if both `x1` and `x2` are scalars.

    Notes
    -----
    Equivalent to `x1` + `x2` in terms of array broadcasting.

    Examples
    --------
    >>> np.add(1.0, 4.0)
    5.0
    >>> x1 = np.arange(9.0).reshape((3, 3))
    >>> x2 = np.arange(3.0)
    >>> np.add(x1, x2)
    array([[  0.,   2.,   4.],
           [  3.,   5.,   7.],
           [  6.,   8.,  10.]])

    The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

    >>> x1 = np.arange(9.0).reshape((3, 3))
    >>> x2 = np.arange(3.0)
    >>> x1 + x2
    array([[ 0.,  2.,  4.],
           [ 3.,  5.,  7.],
           [ 6.,  8., 10.]])

#### 6. Create a null vector of size 10 but the fifth value which is 1 (★☆☆)

In [65]:
b = np.zeros(10, dtype = 'int32')
b[4] = 1
b

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0], dtype=int32)

#### 7. Create a vector with values ranging from 10 to 49 (★☆☆)

In [66]:
c = np.arange(10,50)
c

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

#### 8. Reverse a vector (first element becomes last) (★☆☆)

In [67]:
a = np.zeros((3,3))
a[2,2] = 1

np.flip(a)

array([[1., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

#### 9. Create a 3x3 matrix with values ranging from 0 to 8 (★☆☆)

In [68]:
b= np.arange(0, 9)
b.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#### 10. Find indices of non-zero elements from [1,2,0,0,4,0] (★☆☆)

In [69]:
a = np.array([1,2,0,0,4,0])
# for element in a:
#   if (element == 0):
#     pass
#   else:
#     print(np.where(a == element))

# b = np.nonzero(a)

b = np.where( a != 0)
b

(array([0, 1, 4]),)

#### 11. Create a 3x3 identity matrix (★☆☆)

In [70]:
i = np.identity(3)
i

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### 12. Create a 3x3x3 array with random values (★☆☆)

In [71]:
np.random.rand(3,3,3)

array([[[0.75076568, 0.5745648 , 0.73697968],
        [0.27869112, 0.14553348, 0.68096089],
        [0.70209397, 0.97080152, 0.09511276]],

       [[0.64476006, 0.22110482, 0.52001436],
        [0.36771666, 0.16299375, 0.7541468 ],
        [0.28172995, 0.53073767, 0.78080237]],

       [[0.34743292, 0.59715056, 0.04396757],
        [0.99453121, 0.35671406, 0.74097722],
        [0.42901546, 0.05619813, 0.29973868]]])

#### 13. Create a 10x10 array with random values and find the minimum and maximum values (★☆☆)

In [72]:
a = np.random.randn(10,10)
min_val = np.min(a)
max_val = np.max(a)
print(max_val, min_val)

3.2249243528199747 -3.338861343954122

#### 14. Create a random vector of size 30 and find the mean value (★☆☆)

In [73]:
m = np.arange(10)
print(np.mean(m))

4.5

#### 15. Create a 2d array with 1 on the border and 0 inside (★☆☆)

In [74]:
output = np.ones((3,3))
output[1,1] = 0
output

array([[1., 1., 1.],
       [1., 0., 1.],
       [1., 1., 1.]])

#### 16. How to add a border (filled with 0's) around an existing array? (★☆☆)

In [75]:
e_array = np.ones((3,3))
# z_array = np.zeros((5,5))
# z_array[1:-1,1:-1] = e_array
# print(z_array)

n= np.pad(e_array, 1)
n

array([[0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 0.],
       [0., 1., 1., 1., 0.],
       [0., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0.]])

#### 17. What is the result of the following expression? (★☆☆)
```python
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1
```

#### 18. Create a 5x5 matrix with values 1,2,3,4 just below the diagonal (★☆☆)

In [76]:
matrix = np.arange(1,5)
diag = np.diag(matrix, k=-1)
diag

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

#### 19. Create a 8x8 matrix and fill it with a checkerboard pattern (★☆☆)

In [77]:
check = np.zeros((8,8))
check[::2, ::2] = 1
check[1::2, 1::2] = 1
check

array([[1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.]])

#### 20. Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element? (★☆☆)

In [78]:
np.unravel_index(99, (6,7,8))

(np.int64(1), np.int64(5), np.int64(3))

#### 21. Create a checkerboard 8x8 matrix using the tile function (★☆☆)

In [79]:
a = np.array([1,0])
a1 = np.tile(a, 4)
b = np.array([0,1])
b1 = np.tile(b, 4)
np.vstack((a1,b1,a1,b1,a1,b1,a1,b1))

array([[1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1]])

#### 22. Normalize a 5x5 random matrix (★☆☆)

In [80]:
rng = np.random.default_rng()
x = rng.integers(100, size =(5,5))

#with min-max scaling
min_val = x.min(axis=0)
max_val = x.max(axis=0)


norm1 = (x - min_val) / (max_val - min_val)

print(norm1)

#With standardization
mean = x.mean(axis=0)
std = x.std(axis=0)


norm2 = ( x - mean ) / std
norm2 = norm2.astype('int32')
print(norm2)

[[0.34883721 0.75362319 0.06060606 0.98507463 0.79761905]
 [1.         0.85507246 0.98484848 0.43283582 0.1547619 ]
 [0.         0.46376812 0.40909091 0.29850746 0.67857143]
 [0.79069767 0.         1.         1.         0.        ]
 [0.90697674 1.         0.         0.         1.        ]]
[[ 0  0  0  1  0]
 [ 1  0  1  0  0]
 [-1  0  0  0  0]
 [ 0 -1  1  1 -1]
 [ 0  1 -1 -1  1]]

#### 23. Create a custom dtype that describes a color as four unsigned bytes (RGBA) (★☆☆)

In [81]:
rgb_dtype = np.dtype([
        ('R', 'u1'),
        ('G', 'u1'),
        ('B', 'u1'),
        ('A', 'u1')
    ])


color = np.array([(255,0,0,255)], dtype = rgb_dtype)

color

array([(255, 0, 0, 255)],
      dtype=[('R', 'u1'), ('G', 'u1'), ('B', 'u1'), ('A', 'u1')])

#### 24. Multiply a 5x3 matrix by a 3x2 matrix (real matrix product) (★☆☆)

In [82]:
rng = np.random.default_rng()
a = rng.integers(10, size = (5,3))
b = rng.integers(10, size = (3,2))
c = a @ b
print("A Matrix: \n", a)
print("B Matrix: \n", b)
print("C Matrix: \n", c)

A Matrix:
 [[7 1 8]
 [9 3 5]
 [1 4 2]
 [3 2 1]
 [3 9 1]]
B Matrix:
 [[3 1]
 [0 8]
 [0 9]]
C Matrix:
 [[21 87]
 [27 78]
 [ 3 51]
 [ 9 28]
 [ 9 84]]

#### 25. Given a 1D array, negate all elements which are between 3 and 8, in place. (★☆☆)

In [83]:
a = np.array([1,2,3,4,5,6,7,8,9,10])
between = ((a > 3) & (a < 8))
a[between] *= -1
a

array([ 1,  2,  3, -4, -5, -6, -7,  8,  9, 10])

#### 26. What is the output of the following script? (★☆☆)
```python
# Author: Jake VanderPlas

print(sum(range(5),-1))
from numpy import *
print(sum(range(5),-1))
```

In [84]:
print(sum(range(5),-1))
from numpy import *
print(sum(range(5),-1))

10
10

#### 27. Consider an integer vector Z, which of these expressions are legal? (★☆☆)
```python
Z**Z
2 << Z >> 2
Z <- Z
1j*Z
Z/1/1
Z<Z>Z
```

#### 28. What are the result of the following expressions? (★☆☆)
```python
np.array(0) / np.array(0)
np.array(0) // np.array(0)
np.array([np.nan]).astype(int).astype(float)
```

In [85]:
np.array([np.nan]).astype(int).astype(float)

/tmp/ipython-input-699728972.py:1: RuntimeWarning: invalid value encountered in cast
  np.array([np.nan]).astype(int).astype(float)

array([-9.22337204e+18])

#### 29. How to round away from zero a float array ? (★☆☆)

In [86]:
arr = np.array([1.4, 5.6, -1.8, -4.3, -3.3, 5.6 ])
np.where( arr > 0, np.ceil(arr), np.floor(arr))

array([ 2.,  6., -2., -5., -4.,  6.])

#### 30. How to find common values between two arrays? (★☆☆)

In [87]:
one = np.arange(5)
two = np.arange(5)

np.where(one == two)

(array([0, 1, 2, 3, 4]),)

#### 31. How to ignore all numpy warnings (not recommended)? (★☆☆)

#### 32. Is the following expressions true? (★☆☆)
```python
np.sqrt(-1) == np.emath.sqrt(-1)
```

In [88]:
np.sqrt(-1) == np.emath.sqrt(-1)

/tmp/ipython-input-244602691.py:1: RuntimeWarning: invalid value encountered in sqrt
  np.sqrt(-1) == np.emath.sqrt(-1)

np.False_

#### 33. How to get the dates of yesterday, today and tomorrow? (★☆☆)

In [89]:
today = np.datetime64('today','D')
yesterday = today - np.timedelta64(1)
tomorrow = today + np.timedelta64(1)

print(today ,'\n', yesterday,'\n', tomorrow)

2025-11-09
 2025-11-08
 2025-11-10

#

### 34. How to get all the dates corresponding to the month of July 2016? (★★☆)

In [90]:
july = np.arange('2016-07-01','2016-08-01', dtype= 'datetime64[D]')
july

array(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
       '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
       '2016-07-09', '2016-07-10', '2016-07-11', '2016-07-12',
       '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-16',
       '2016-07-17', '2016-07-18', '2016-07-19', '2016-07-20',
       '2016-07-21', '2016-07-22', '2016-07-23', '2016-07-24',
       '2016-07-25', '2016-07-26', '2016-07-27', '2016-07-28',
       '2016-07-29', '2016-07-30', '2016-07-31'], dtype='datetime64[D]')

#### 35. How to compute ((A+B)*(-A/2)) in place (without copy)? (★★☆)

In [91]:
a = np.arange(10)
b = np.arange(10)
c = a + b
d = (-a)/2
print(c*d)

np.add(a,b)
np.negative(a,out=a)
np.divide(a,2)
print(np.multiply(a,b))

[  0.  -1.  -4.  -9. -16. -25. -36. -49. -64. -81.]
[  0  -1  -4  -9 -16 -25 -36 -49 -64 -81]

#### 36. Extract the integer part of a random array of positive numbers using 4 different methods (★★☆)

In [92]:
arr = np.array([1.2, 3, 4 , 5 ,3.64, 0.11, -1.3, 0])

#Method 1
truncate = np.trunc(arr)

#Method 2
floor = np.floor(arr)

#Method 3
integer = arr.astype('int32')

#Method 4
ceil = np.ceil(arr)

print(truncate, floor, integer, ceil)

[ 1.  3.  4.  5.  3.  0. -1.  0.] [ 1.  3.  4.  5.  3.  0. -2.  0.] [ 1  3  4  5  3  0 -1  0] [ 2.  3.  4.  5.  4.  1. -1.  0.]

#### 37. Create a 5x5 matrix with row values ranging from 0 to 4 (★★☆)

In [93]:
arr = np.zeros((5,5))
arr = np.arange(5)
arr

# arr = (x for x in range(5))
# np.fromiter(arr, float)

array([0, 1, 2, 3, 4])

#### 38. Consider a generator function that generates 10 integers and use it to build an array (★☆☆)

In [94]:
import generators as gn

#### 39. Create a vector of size 10 with values ranging from 0 to 1, both excluded (★★☆)

In [95]:
arr = np.linspace(0,1, num = 11, endpoint = False, )[1:]
arr

array([0.09090909, 0.18181818, 0.27272727, 0.36363636, 0.45454545,
       0.54545455, 0.63636364, 0.72727273, 0.81818182, 0.90909091])

#### 40. Create a random vector of size 10 and sort it (★★☆)

In [96]:
arr = rng.integers(10, size = 10)
np.sort(arr)

array([0, 1, 2, 3, 7, 7, 7, 7, 7, 9])

#### 41. How to sum a small array faster than np.sum? (★★☆)

In [97]:
arr2 = np.sum([1,2,3,4])

arr1 = np.array([1,2,3,4])
arr1 = np.add.reduce(arr1)

print(arr1, arr2)

10 10

#### 42. Consider two random arrays A and B, check if they are equal (★★☆)

In [98]:
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([1,2,3,4,5])

np.allclose(arr1,arr2)

True

#### 43. Make an array immutable (read-only) (★★☆)

In [99]:
arr = np.array([1,2,3,4,5])
arr.flags.writeable = False

arr

array([1, 2, 3, 4, 5])

#### 44. Consider a random 10x2 matrix representing cartesian coordinates, convert them to polar coordinates (★★☆)

In [100]:
cart = rng.integers(10, size=(10,2))
# print(cart)
x, y = cart[:, 0], cart[:, 1]
x2 = x*x
y2 = y*y
r = x2+y2
r = np.sqrt(r)

theta = np.arctan2(y, x)

polar = np.empty((10,2))
polar[:,0], polar[:,1] = r, theta

polar

array([[10.81665383,  0.5880026 ],
       [ 1.        ,  1.57079633],
       [ 6.08276253,  1.40564765],
       [ 8.54400375,  1.21202566],
       [ 9.8488578 ,  0.41822433],
       [ 6.70820393,  1.10714872],
       [ 5.65685425,  0.78539816],
       [10.63014581,  0.71883   ],
       [ 3.16227766,  1.24904577],
       [11.40175425,  0.90975316]])

#### 45. Create random vector of size 10 and replace the maximum value by 0 (★★☆)

In [101]:
arr = np.array([1,2,3,4,5,6,7,8,9,0])

maxNum = np.argmax(arr)

arr[maxNum] = 0
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 0, 0])

#### 46. Create a structured array with `x` and `y` coordinates covering the [0,1]x[0,1] area (★★☆)

In [102]:
x = np.linspace(0, 1, 3)
y = np.linspace(0, 1, 3)

X, Y = np.meshgrid(x,y)

structured_array = np.zeros(X.shape, dtype=[('x', 'f8'), ('y', 'f8')])
structured_array['x'] = X
structured_array['y'] = Y

print(structured_array)

[[(0. , 0. ) (0.5, 0. ) (1. , 0. )]
 [(0. , 0.5) (0.5, 0.5) (1. , 0.5)]
 [(0. , 1. ) (0.5, 1. ) (1. , 1. )]]

#### 47. Given two arrays, X and Y, construct the Cauchy matrix C (Cij =1/(xi - yj)) (★★☆)

In [103]:
x = np.array([1,2,3])
y = np.array([5,6,7])

den = np.subtract.outer(x, y)
C = 1 / den

C

array([[-0.25      , -0.2       , -0.16666667],
       [-0.33333333, -0.25      , -0.2       ],
       [-0.5       , -0.33333333, -0.25      ]])

#### 48. Print the minimum and maximum representable values for each numpy scalar type (★★☆)

#### 49. How to print all the values of an array? (★★☆)

In [104]:


arr = np.zeros((40,40))

print(arr)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

#### 50. How to find the closest value (to a given scalar) in a vector? (★★☆)

In [105]:
a = 4
arr = np.array([1,2,3,4,5,6])

for element in arr:
  if (element == a):
    print(element)
  else:
    continue

4

#### 51. Create a structured array representing a position (x,y) and a color (r,g,b) (★★☆)

#### 52. Consider a random vector with shape (100,2) representing coordinates, find point by point distances (★★☆)

In [106]:
# a = np.random.rand(100,20)

# x1, y1 = a[:-1, 0], a[:-1, 1]
# x2, y2 = a[1:, 0], a[1:, 1]

# d = (x1 - y1)**2 + (x2 - y2)**2
# ed = np.sqrt(d)

# ed

import scipy.spatial

Z = np.random.random((10,2))
D = scipy.spatial.distance.cdist(Z,Z)
print(D)

[[0.         0.64235666 0.65609158 0.80729543 0.66293871 0.16075786
  0.75995276 0.19188249 0.28321781 0.75446156]
 [0.64235666 0.         0.25442896 0.39332878 0.43952936 0.79161281
  0.15903734 0.45163413 0.42087211 0.4152203 ]
 [0.65609158 0.25442896 0.         0.17012562 0.1922068  0.8167884
  0.39552119 0.47630219 0.53274502 0.16502453]
 [0.80729543 0.39332878 0.17012562 0.         0.19779681 0.96766169
  0.50575049 0.63582665 0.70225347 0.08262233]
 [0.66293871 0.43952936 0.1922068  0.19779681 0.         0.81928458
  0.58665323 0.515242   0.62121651 0.1172552 ]
 [0.16075786 0.79161281 0.8167884  0.96766169 0.81928458 0.
  0.89889537 0.34781739 0.39924381 0.91357015]
 [0.75995276 0.15903734 0.39552119 0.50575049 0.58665323 0.89889537
  0.         0.5757198  0.50589548 0.54475914]
 [0.19188249 0.45163413 0.47630219 0.63582665 0.515242   0.34781739
  0.5757198  0.         0.16763045 0.59212195]
 [0.28321781 0.42087211 0.53274502 0.70225347 0.62121651 0.39924381
  0.50589548 0.16763045 0.         0.67576094]
 [0.75446156 0.4152203  0.16502453 0.08262233 0.1172552  0.91357015
  0.54475914 0.59212195 0.67576094 0.        ]]

#### 53. How to convert a float (32 bits) array into an integer (32 bits) array in place?

In [107]:
a = np.array([1.2, 3.2, 4.5, 5.3, 6.66, 4.5], dtype='int32')
a

array([1, 3, 4, 5, 6, 4], dtype=int32)

#### 54. How to read the following file? (★★☆)
```
1, 2, 3, 4, 5
6,  ,  , 7, 8
 ,  , 9,10,11
```

In [108]:
from io import StringIO
s = StringIO('''1, 2, 3, 4, 5

                6,  ,  , 7, 8

                 ,  , 9,10,11
''')


a = np.genfromtxt(s, delimiter = ',', dtype = 'int32')
a

array([[ 1,  2,  3,  4,  5],
       [ 6, -1, -1,  7,  8],
       [-1, -1,  9, 10, 11]], dtype=int32)

#### 55. What is the equivalent of enumerate for numpy arrays? (★★☆)

In [109]:
n = np.arange(10)

for index, item in enumerate(n):
  print(index, item)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

#### 56. Generate a generic 2D Gaussian-like array (★★☆)

In [110]:
def gaussian(ksize, sigma=1, mu = 0):
  x, y = np.meshgrid(np.linspace(-1, 1, ksize),
                       np.linspace(-1, 1, ksize))
  dst = np.sqrt(x**2 + y**2)
  normal = 1 / (2 * np.pi * sigma**2)
  gauss = np.exp(-((dst - mu)**2 / (2.0 * sigma**2))) * normal

  return gauss

print(gaussian(10))

[[0.05854983 0.07133657 0.08272793 0.09131569 0.09593831 0.09593831
  0.09131569 0.08272793 0.07133657 0.05854983]
 [0.07133657 0.08691581 0.10079493 0.11125819 0.11689034 0.11689034
  0.11125819 0.10079493 0.08691581 0.07133657]
 [0.08272793 0.10079493 0.11689034 0.12902442 0.13555594 0.13555594
  0.12902442 0.11689034 0.10079493 0.08272793]
 [0.09131569 0.11125819 0.12902442 0.1424181  0.14962764 0.14962764
  0.1424181  0.12902442 0.11125819 0.09131569]
 [0.09593831 0.11689034 0.13555594 0.14962764 0.15720215 0.15720215
  0.14962764 0.13555594 0.11689034 0.09593831]
 [0.09593831 0.11689034 0.13555594 0.14962764 0.15720215 0.15720215
  0.14962764 0.13555594 0.11689034 0.09593831]
 [0.09131569 0.11125819 0.12902442 0.1424181  0.14962764 0.14962764
  0.1424181  0.12902442 0.11125819 0.09131569]
 [0.08272793 0.10079493 0.11689034 0.12902442 0.13555594 0.13555594
  0.12902442 0.11689034 0.10079493 0.08272793]
 [0.07133657 0.08691581 0.10079493 0.11125819 0.11689034 0.11689034
  0.11125819 0.10079493 0.08691581 0.07133657]
 [0.05854983 0.07133657 0.08272793 0.09131569 0.09593831 0.09593831
  0.09131569 0.08272793 0.07133657 0.05854983]]


#### 57. How to randomly place p elements in a 2D array? (★★☆)

In [111]:
a = np.zeros((5,5), dtype='int32')
p = 10
b = np.random.choice(a.size, p, replace=False)
a.flat[b] = np.arange(p) + 1
a

array([[ 6,  9,  0,  0, 10],
       [ 4,  5,  0,  0,  0],
       [ 0,  7,  0,  0,  0],
       [ 2,  8,  0,  0,  0],
       [ 0,  0,  3,  0,  1]], dtype=int32)

#### 58. Subtract the mean of each row of a matrix (★★☆)

In [112]:
a = rng.integers(10, size=(6,6))
row_mean = np.mean(a, axis=0,)
sub_mean = a - row_mean

print(sub_mean)

[[ 1.          0.16666667  2.16666667  1.5        -0.33333333 -1.16666667]
 [ 2.         -1.83333333  0.16666667 -1.5         0.66666667  1.83333333]
 [-4.         -0.83333333 -2.83333333  4.5         3.66666667  2.83333333]
 [-5.          1.16666667  0.16666667 -3.5         1.66666667 -1.16666667]
 [ 4.         -2.83333333  1.16666667  0.5        -1.33333333 -1.16666667]
 [ 2.          4.16666667 -0.83333333 -1.5        -4.33333333 -1.16666667]]

#### 59. How to sort an array by the nth column? (★★☆)

In [113]:
arr = np.array([[ 7,  0,  0,  0,  0],
       [ 0,  4,  8, 10,  0],
       [ 0,  0,  1,  6,  5],
       [ 0,  2,  0,  0,  0],
       [ 0,  0,  3,  0,  9]])
n = int(input("Enter column number: "))
sorted_arr = arr[arr[:, n].argsort()]
print(sorted_arr)

Enter column number: 2
[[ 7  0  0  0  0]
 [ 0  2  0  0  0]
 [ 0  0  1  6  5]
 [ 0  0  3  0  9]
 [ 0  4  8 10  0]]

#### 60. How to tell if a given 2D array has null columns? (★★☆)

In [114]:
arr = np.array([[1, 2, np.nan],
                [4, 5, 6],
                [np.nan, 8, 9]])

print(np.isnan(arr).any(axis=0))

[ True False  True]

#### 61. Find the nearest value from a given value in an array (★★☆)

In [115]:
a = np.array([1,2,6,12,34,56,75])
target = 30

index = np.abs(a - target).argmin()
print(a[index])

34

#### 62. Considering two arrays with shape (1,3) and (3,1), how to compute their sum using an iterator? (★★☆)

In [116]:
a = np.array([[1],
              [2],
              [3]])
b = np.array([[1, 2, 3]])

print(a+b)

it = np.nditer([a,b,None])

for x,y,z in it: z[...] = x + y

print(it.operands[2])


# Tradition Nested Method
# for row in arr:
#   for val in row:
#     print(val)

[[2 3 4]
 [3 4 5]
 [4 5 6]]
[[2 3 4]
 [3 4 5]
 [4 5 6]]

#### 63. Create an array class that has a name attribute (★★☆)

In [117]:
class MyArray:
  @classmethod
  def create_array(cls, data):
    return np.array(data)


print(MyArray.create_array([1,2,3,4]))

[1 2 3 4]

#### 64. Consider a given vector, how to add 1 to each element indexed by a second vector (be careful with repeated indices)? (★★★)

In [118]:
a = np.zeros(10, dtype='int32')
b = np.array([0,1,2,2,9])

# for index in b:
#     a[index] += 1

# print(a)

np.add.at(a, b, 1)
print(a)

[1 1 2 0 0 0 0 0 0 1]

#### 65. How to accumulate elements of a vector (X) to an array (F) based on an index list (I)? (★★★)

In [119]:
x = np.array([1,2,3,4])
i = np.array([0,1,2,4])
f = np.zeros(6, dtype='int32')

np.add.at(f,i,x)

print(f)

[1 2 3 0 4 0]

#### 66. Considering a (w,h,3) image of (dtype=ubyte), compute the number of unique colors (★★☆)

In [120]:
w = 256
h = 256
image = np.random.randint(0,4,(w, h, 3)).astype(np.ubyte)
color = np.unique(image.reshape(-1,3), axis = 0)
print(len(color))

64

#### 67. Considering a four dimensions array, how to get sum over the last two axis at once? (★★★)

In [121]:
a = rng.integers(100, size=(2,2,2,2))
print(a.sum(axis=(-2,-1)))

[[208 162]
 [175 144]]

#### 68. Considering a one-dimensional vector D, how to compute means of subsets of D using a vector S of same size describing subset  indices? (★★★)

In [122]:
a = np.array([1,2,3,4,5,6], dtype='int32')
b = np.array([1,0,1,2,0,2], dtype='int32')

c = np.bincount(b, weights=a)
d = np.bincount(b)

mean = c/d

print(mean)

[3.5 2.  5. ]

#### 69. How to get the diagonal of a dot product? (★★★)

In [123]:
a = np.array([1,2,3])
b = np.array([1,2,3]).reshape(3,1)

c = a@b
c

array([14])

#### 70. Consider the vector [1, 2, 3, 4, 5], how to build a new vector with 3 consecutive zeros interleaved between each value? (★★★)

In [124]:
x = np.array([1, 2, 3, 4, 5])
n = 3
y = np.zeros(len(x) + (len(x)-1)*n, dtype=int)
y[::n+1] = x
print(y)

[1 0 0 0 2 0 0 0 3 0 0 0 4 0 0 0 5]

#### 71. Consider an array of dimension (5,5,3), how to multiply it by an array with dimensions (5,5)? (★★★)

#### 72. How to swap two rows of an array? (★★★)

#### 73. Consider a set of 10 triplets describing 10 triangles (with shared vertices), find the set of unique line segments composing all the  triangles (★★★)

#### 74. Given a sorted array C that corresponds to a bincount, how to produce an array A such that np.bincount(A) == C? (★★★)

#### 75. How to compute averages using a sliding window over an array? (★★★)

#### 76. Consider a one-dimensional array Z, build a two-dimensional array whose first row is (Z[0],Z[1],Z[2]) and each subsequent row is  shifted by 1 (last row should be (Z[-3],Z[-2],Z[-1]) (★★★)

#### 77. How to negate a boolean, or to change the sign of a float inplace? (★★★)

#### 78. Consider 2 sets of points P0,P1 describing lines (2d) and a point p, how to compute distance from p to each line i (P0[i],P1[i])? (★★★)

#### 79. Consider 2 sets of points P0,P1 describing lines (2d) and a set of points P, how to compute distance from each point j (P[j]) to each line i (P0[i],P1[i])? (★★★)

#### 80. Consider an arbitrary array, write a function that extracts a subpart with a fixed shape and centered on a given element (pad with a `fill` value when necessary) (★★★)

#### 81. Consider an array Z = [1,2,3,4,5,6,7,8,9,10,11,12,13,14], how to generate an array R = [[1,2,3,4], [2,3,4,5], [3,4,5,6], ..., [11,12,13,14]]? (★★★)

#### 82. Compute a matrix rank (★★★)

#### 83. How to find the most frequent value in an array?

#### 84. Extract all the contiguous 3x3 blocks from a random 10x10 matrix (★★★)

#### 85. Create a 2D array subclass such that Z[i,j] == Z[j,i] (★★★)

#### 86. Consider a set of p matrices with shape (n,n) and a set of p vectors with shape (n,1). How to compute the sum of of the p matrix products at once? (result has shape (n,1)) (★★★)

#### 87. Consider a 16x16 array, how to get the block-sum (block size is 4x4)? (★★★)

#### 88. How to implement the Game of Life using numpy arrays? (★★★)

#### 89. How to get the n largest values of an array (★★★)

#### 90. Given an arbitrary number of vectors, build the cartesian product (every combination of every item) (★★★)

#### 91. How to create a record array from a regular array? (★★★)

#### 92. Consider a large vector Z, compute Z to the power of 3 using 3 different methods (★★★)

#### 93. Consider two arrays A and B of shape (8,3) and (2,2). How to find rows of A that contain elements of each row of B regardless of the order of the elements in B? (★★★)

#### 94. Considering a 10x3 matrix, extract rows with unequal values (e.g. [2,2,3]) (★★★)

#### 95. Convert a vector of ints into a matrix binary representation (★★★)

#### 96. Given a two dimensional array, how to extract unique rows? (★★★)

#### 97. Considering 2 vectors A & B, write the einsum equivalent of inner, outer, sum, and mul function (★★★)

#### 98. Considering a path described by two vectors (X,Y), how to sample it using equidistant samples (★★★)?

#### 99. Given an integer n and a 2D array X, select from X the rows which can be interpreted as draws from a multinomial distribution with n degrees, i.e., the rows which only contain integers and which sum to n. (★★★)

#### 100. Compute bootstrapped 95% confidence intervals for the mean of a 1D array X (i.e., resample the elements of an array with replacement N times, compute the mean of each sample, and then compute percentiles over the means). (★★★)