<a href="https://colab.research.google.com/github/AmanPhadke/DataScience_Journey/blob/main/Phase1/Week4_Pandas_Advanced/Stats/US_Babies/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [3]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv', sep=',')
baby_names.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 4. See the first 10 entries

In [4]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [31]:
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], axis=1)

### Step 6. What year has the highest number of baby names in the dataset?

In [32]:
baby_names.groupby('Year').sum().idxmax()

Name      2010
Gender    2007
State     2004
Count     2007
dtype: int64

### Step 7. Is there more male or female names in the dataset?

In [37]:
baby_names['Gender'].value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 8. Group the dataset by name and assign to names

In [64]:
# del baby_names['Year']
names = baby_names.groupby("Name").sum()
names = names['Count'].sort_values(ascending = 0)
names.head()

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
Name: Count, dtype: int64

### Step 9. How many different names exist in the dataset?

In [67]:
names.shape[0]

17632

### Step 10. What is the name with most occurrences?

In [70]:
names.idxmax()

'Jacob'

### Step 11. How many different names have the least occurrences?

In [79]:
len(names[names == names.min()])

2578

### Step 12. What is the median name occurrence?

In [85]:
names[names == names.median()]

Name
Kaedence    49
Leylanie    49
Nabeel      49
Caleah      49
Nassir      49
            ..
Kynsley     49
Fay         49
Maurilio    49
Mariann     49
Baily       49
Name: Count, Length: 66, dtype: int64

### Step 13. What is the standard deviation of names?

In [87]:
names.std()

11006.0694678915

### Step 14. Get a summary with the mean, min, max, std and quartiles.

In [88]:
names.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64